.bodybackground{
    background-image: url(https://besthqwallpapers.com/Uploads/30-12-2020/149719/thumb2-dark-blue-lines-background-abstract-blue-background-creative-blue-background-lines-background.jpg);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.title{
    padding-top: 50px;

}
.author{
    font-style: oblique;
    padding-left: 50px;
    padding-top: -20px;
}
.Description{
    font-weight: 900;
    font-size: large;
    padding-left: 190px;
    text-align: left;

}
.descriptiontext{
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 35px;
}
a{
    color: salmon;
    font-style: oblique;
}
.details{
    font-size: 20px;

}
.YOB{
    color: salmon;
}
#yearofbirth{
    margin: 20px;
}
#monthofbirth{
    margin: 20px;
}
#dateofbirth{
    margin: 20px;
}
.malefemale{
    padding-left: 550px;
    display: flex;
    padding-bottom: 20px;
}
button{
    border-radius: 50px;
    background-color: rgb(235, 65, 46);
    width: 10%;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}