.bodybackground{
    background-color: rgb(21, 21, 65);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.title{
    padding-top: 50px;

}
.author{
    font-style: oblique;
    padding-left: 50px;
    padding-top: -20px;
}
.Description{
    font-weight: 900;
    font-size: large;
    padding-left: 190px;
    text-align: left;

}
.descriptiontext{
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 40px;
}
a{
    color: salmon;
    font-style: oblique;
}
